/***** Golden Hour Drupal Theme ******/

@import url("icons.css"); /* shamelessly copied from the Sands theme - by Samat - http://www.samat.org  */

*{margin:0; padding:0;}

body {
  font-size:small;
  background:#525252;
  padding: 35px 0px 35px 0px;
}

a {
  color: #373742;
  text-decoration: none;
  font-weight: normal;
}

a:hover {
  color:#2763A5;
  font-weight: normal;
  text-decoration: underline;
}

#outer{
  position: relative;
  width: 950px;
  border: solid 7px #fff;
  background-color: #fff;
  margin: 0 auto;
}

/*----------header----------*/

#header {
  width: 950px;
  padding-top: 1px;
  clear: both;
  background: #536D88 ;
  height:120px;
}

#header h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 400%;
  color: #fff;
  margin: 10px 0 0 15px;
}

#header a {
  color: #6DA6E2;
  text-decoration: none;
}

#header a:hover {
  color: #999;
}

#header h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 200%;
  color: #f3f3f3;
  padding: 5px 0 15px 20px;
}

#siteName a {
  color:#fff;
}

#siteName a:hover {
  color:#fff;
  text-decoration:none;
}

#logo {
  vertical-align: middle;
  border: 0;
}

#logo img {
  float: left;
  padding: 10px 10px 0 5px;
  border: 0;
}

/*----------menu bar - primary links----------*/

#menu {
  font-family: Helvetica, Arial, sans-serif;
  float:left;
  width:950px;
  font-size:120%;
  padding-bottom: 1px;
  background:#A46B34;
  line-height:normal;
  border-top: solid 2px #fff;
}

#menu ul {
  margin:0;
  padding:0px 10px 0 0px;
  list-style:none;
}
  
#menu li {
  display:inline;
  margin:0;
  padding:0;
}

#menu a {
  float:left;
  margin:0;
  color:#fff;
  background-color:#A46B34;
  height:18px;
  padding: 5px 15px 4px 6px;
  text-decoration:none;
  border-left: 6px solid #A46B34;
}

#menu a:hover {
  color:#fff;
  background:#764413;
  border-left: 6px solid #ccc;
}

/*----------content----------*/

#content {
  overflow: hidden;
  width: 680px;
  padding: 0 20px 0px 20px;
  float: right;
  margin: 0 0 20px 0;
  font-family: Verdana;
  font-size: 100%;
  line-height: 1.6em;
  color: #666;
  background-color: #fff;
}

#content a {
  color: #0060A6;
  text-decoration: none;
  font-weight: normal;
}

#content a:hover {
  color: #308CF1;
  text-decoration: none;
  font-weight: normal;
}

#content p {
  padding-bottom: 12px;
}
  
#content h2 {
  color: #666;
  font-size: 160%;
  font-weight:normal;
  text-decoration:none;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fff;
}
  
#content h2 a {
  color: #666;
  text-decoration: none;
}

#content h2 a:hover {
  text-decoration:none;
  color: #2763A5;
}

#content h3 {
  color: #666;
  font-size: 140%;
  font-weight:normal;
  text-decoration:none;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fff;
  padding: 10px 0 20px 0;
}


/*----------sidebar----------*/

#sidebarLeft {
  width: 190px;
  padding: 10px;
  float: left;
  border-right:4px solid #fff;
  margin: 5px 1px 1em 0; !important
}

#sidebarLeft p {
  padding-bottom: 10px;
}
  
#sidebarLeft h2 {
  color: #2763A5;
  font-size: 130%;
  margin-bottom:5px;
  font-weight:bold;
  border-bottom: 1px solid #ddd;
  font-family: Helvetica, Arial, sans-serif;
}

ul {
  padding:0 0 10px 12px;
}

/*----------pager----------*/

#pager {
  clear: both;
  text-align: center;
}
#pager a, #pager strong.pager-current {
  padding: 0.25em;
}
#pager {
  clear: both;
  margin: 20px 0 10px 0;
  padding: 10px 0px 3px;
}

#pager div {
  padding: 0em;
  display: inline;
}

#pager strong, #pager a {
  padding: 3px 5px;
  margin: 0px 0.25em 0px 0.25em;
  background: #EFEFEF;
  border: 1px solid #666666;
  -moz-border-radius: 2px;
}

#pager a:hover {
  text-decoration: none;
  background: #fff;
}

#pager strong {
  background: #666666;
  color: #fff;
}

/*----------footer---------*/

#footer {
  clear: both;
  width: 945px;
  height: 32px;
  font-size:80%;
  border:2px solid #fff;
  background:#BBBBBB ;
}

#footer p {
  color:#fff;
  padding: 10px;
  text-align: center;
}

#footer p a {
  color: #fff;
  font-weight:100;
  border-bottom: 1px dotted #fff;
}

#footer p a:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 0px dotted #fff;
}


/*----------drop shadows for images----------*/

.dropShadow {
    float: left;
    background: url(img/shadow.png) no-repeat bottom right; !important
    background: url(img/shadow.gif) no-repeat bottom right;
    margin: 10px 10px 0 5px;
}

.dropShadow img {
    display: block;
    position: relative;
    background: #fff;
    margin: -3px 5px 5px -3px;
    padding: 2px;
}

/*----------image frame----------*/

.frame {
  padding: 2px; 
  border: 1px solid #999999;
}
/* others styles */


.submitted {
  float:left;
  font-size: 80%;
  color: #787878;
  padding-bottom: 10px;
}

.block {
  margin: 0 0 20px 0;
  font-family: Verdana;
  font-size: 100%;
}

/*----------misc. styles-----------*/

.node-title {
  margin-top:5px; 
  padding-bottom:2px;
  border-bottom:solid 1px #ccc;
  background-image: url("img/sun2.gif");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 35px;
}

.page-title {
  margin:10px 0 0 0;
}


.breadcrumb {
  margin-top: 10px;
  padding-bottom: 0;
}

dd {
  margin: 10px;
}

dt {
  font-size: 120%;
  font-weight:bold;
}

.search-results .title {
  font-size: 120%;
  margin: 20px 0 0 0;
}

.links {
  margin-top:-15px;
  margin-bottom: 25px;
}

.messages {
  margin: 0 0 15px 0;
  color:#CB0F0F;
}

.comment .title {
  margin-bottom:-20px;
}

.taxonomy {
  float:right;
  font-size: 80%;
  color: #787878;
  padding-bottom: 10px;
}

.content {
  clear:both;
  margin: 0 0 15px 0;
}

/*----------table styles----------*/

table {
  margin: 1em 0;
  width: 100%;
}

thead th {
  border-bottom: 2px solid #AAAAAA;
  color: #494949;
  font-weight: bold;
}

td, th {
  padding: .3em 0 .5em 0;
}

tr.even, tr.odd, tbody th {
  border: solid #D5D6D7;
  border-width: 1px 0;
}

tr.even {
  background-color: #fff;
}

tr.odd td.active {
  background-color: #E1CE1E1;
}

tr.even td.active {
  background-color: #F1F1F1;
}

td.region, td.module, td.container {
  border-top: 1.5em solid #fff;
  border-bottom: 1px solid #AAAAAA;
  background-color: #D5D6D7;
  color: #455067;
  font-weight: bold;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container {
  border-top-width: 0;
}

